/*FIRST MEDIA QUERY FOR THE ABOUT US PAGE  */
@media (width < 350px) { 
    #services{
        height: 250vh;
    }

    .sub{
        /* padding-top: 10vh; */
        width:100vw;
        height: 180vh;
        color: white;
        
    }
    #services h1{
        font-size: 25px;
    }

    .serv-desc{
        font-size: 10px;
    }
    .accordion-flush{
        width: 80vw;
        margin-left: 10%;
    }

    .accordion-body{
       font-size: 10px;        
    }

    .accordion-button.collapsed{
        font-size: 14px;
        font-weight: bold;
    }

    

} 

/*SECOND MEDIA QUERY FOR THE ABOUT US PAGE  */
@media (width < 770px) {
    #services{
        height: 180vh;
    }

    .sub{
        /* padding-top: 10vh; */
        width:100vw;
        height: 150vh;
        color: white;
        margin-bottom: 10px;
        
    }
    #services h1{
        font-size: 30px;
    }

    .serv-desc{
        font-size: 13px;
    }

    
    .accordion-flush{
        width: 80vw;
        margin-left: 10%;
    }

    .accordion-body{
       font-size: 13px;        
    }

    .accordion-button.collapsed{
        font-size: 17px;
        font-weight: bold;
    }
}
